.body {
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    width:100%;
    max-width: 500px;
    margin: 50px auto;
    box-sizing: border-box;
}
.header {
    text-align: center;
}
.header__title {
    font-size: 50px;
    color: #0000ad;
    text-shadow: 1px 1px 5px hsl(240, 96%, 65%);
}
.exchange {
    font-size: 25px;
    padding: 20px 15px;
    width: 100%;
}
.exchange__currency {
    border: 2px solid #606060;
    padding: 15px;
    font-size: 25px;
    width: 100%;
    max-width: 400px;
    border-radius:12px;
}
.pln.pln:focus {
    border: 3px solid #000000;
    transition: 1s;
}
.eur.eur {
    border: 2px solid #bdbcbc;

}
.changeBackground {
    border: none;
    background-color: #7575fc;
    width:100%;
    padding: 20px;
    border-radius: 12px;
    max-width: 400px;
    font-size: 25px;
    color:#fff;
}
.changeBackground:hover {
    background-color: hsl(240, 96%, 77%);

}
.changeBackground:active {
    background-color: hsl(240, 96%, 82%);

}
.background--dark {
    color:white;
    background-image: url("background-dark.jpg");
    background-color: #777575;
}